.mascotaregistro{
  border-radius: 1rem;
  background-color: #fafafa;
  padding: 2rem;
}

.adiministrador{
  display: flex;
  gap: 2rem;
}

.inicio{
  padding-top: 100px;
}

.btn-1{
  background-color: #3864f2;
}