.mascotaregistro{
  border-radius: 1rem;
  background-color: #fafafa;
  padding: 2rem;
}

.adiministrador{
  display: flex;
  gap: 2rem;
}

.inicio{
  padding-top: 100px;
}
<<<<<<< HEAD

.btn-1{
  background-color: #3864f2;
=======
.red{
  color: red;
>>>>>>> 98708bed691182551044269851f633a40f2dc91b
}