@page
@model Veterinaria.App.Presentacion.Pages.AgendaModel
@{
}
<div class="container justify-content-center">
    
   
    
    <img src="~/assets/paginaConstruccion.jpg" class="img-fluid" alt="Pagina en Construcción">
    
</div>
